name: CI

on:
  push:
    branches:
      - 'master'
      - 'develop_*'
  workflow_dispatch:

jobs:
  check_server:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
      - uses: Swatinem/rust-cache@v2
      - name: run integration test
        # --show-output
        run: cargo test -p tests --test starter -j 1 -- --test-threads 1
      - name: run pebble
        run: ./run_pebble.sh
        working-directory: ./tests/bash/
      - name: run acme integration test
        run: cargo test -p tests --test acme_test -j 1 -- --test-threads 1
      - name: run spa-client test
        run: cargo test -p spa-client
      - name: run spa-client test
        run: cargo test -p spa-server